@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
body {
    background-color:#FAEBCD;
    font-family: serif;
}

/*style for title*/
h1 {
    color: #434343;
    font-size: 300%;
    text-align: center;
    font-family: "Titan One";
}

/*style for all buttons*/
button{
    background-color: #F7C873
}

.button-text, .button-text-2{
    font-family: "Squada One";
}

/*style for first set of buttons*/
.choices{
    display: flex; /*displays side-by-side*/
    justify-content: space-around;
    align-items: center;
    border: 3px solid #434343;
    border-radius: 15px;
    margin: 5% 10%;
    padding: 2rem;
    background-color: rgba(255,255,255,0.2);
}

.button{
    height:100px;
    width:150px;
    border-radius:25%/50%;
    padding: 0.5rem 1rem;
}

/*style for second set of buttons*/

.other-choices{
    display: flex; /*displays side-by-side*/
    justify-content: space-around;
    align-items: center;
    border: 3px solid #434343;
    border-radius: 15px;
    margin: 5% 10%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.button-2{
    border-radius: 25px/50px;
    padding: 0.8rem 1.5rem;
    min-width: 120px;
}