<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WAT-A-MOMENT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='photo.css') }}">
  </head>

  <body>
    <h1 class="title">WAT-A-MOMENT</h1>
    <div class="features-page">
    <div class="features-side-bar">
        <div class="features-side-bar-box">
            <button class ="button" id="feature-button-1">
                <p class="button-text">Photo 1: look cute!</p>
            </button>
        </div>

        <div class="features-side-bar-box">
            <button class ="button" id="feature-button-2">
                <p class="button-text">Photo 2: silly face!</p>
            </button>
        </div>

        <div class="features-side-bar-box">
            <button class ="button" id="feature-button-3">
                <p class="button-text">Photo 3: serious time :| </p>
            </button>
        </div>

        <div class="features-side-bar-box">
            <button class ="button" id="feature-button-4">
                <p class="button-text">Photo 4: RANDOM!</p>
            </button>
        </div>
    </div>

    <div class="camera-screen">
        <img src="./photo.jpg" alt="user-camera" id="user-camera">
    </div>

    <a href="{{ url_for('index')}}">
        <button class="buttonHomepage">
        Back to home page
        </button>
    </a>

    <a href="{{ url_for('post-photo')}}">
        <button class="buttonHomepage">
        Click to continue on your photo journey!
        </button>
      </a>
</div>

    
  </body>
</html>