<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Photo</title>
    <link rel ="stylesheet" href ="{{ url_for('static', filename='post-photo.css') }}"/>
</head>
<body>
    <h1>Wat-a-Moment</h1>

 <!-- on button click (click disply) photo srhinks, use that w3schools code to multiselect
  no drop down, click photo directly-->
    
    <div class="grid-button-wrapper">

        <div class = "photo-grid">
            <div class="polaroid">
                <img src="static/photos/emptyPhoto.jpg" alt="photo placeholder" 
                style="width:100%">
                <div class="container">
                <p>Photo 1 out of 4 </p>
                </div>
            </div>
            <div class="polaroid">
                <img src="static/photos/emptyPhoto.jpg" alt="photo placeholder" 
                style="width:100%">
                <div class="container">
                <p>Photo 2 out of 4 </p>
                </div>
            </div>
            <div class="polaroid">
                <img src="static/photos/emptyPhoto.jpg" alt="photo placeholder" 
                style="width:100%">
                <div class="container">
                <p>Photo 3 out of 4 </p>
                </div>
            </div>
            <div class="polaroid">
                <img src="static/photos/emptyPhoto.jpg" alt="photo placeholder" 
                style="width:100%">
                <div class="container">
                <p>Photo 4 out of 4 </p>
                </div>
            </div>
        </div>

        <div class="button-container">
            <div class="dropdown">
                <button class="dropbtn">Select photo(s) for group</button>
                <div class="dropdown-content">
                  <a href="#">Photo 1</a>
                  <a href="#">Photo 2</a>
                  <a href="#">Photo 3</a>
                  <a href="#">Photo 4</a>
                </div>
              </div>

            <div class="dropdown">
                <button class="dropbtn">Dropdown to select user(s)</button>
                <div class="dropdown-content">
                  <a href="#">Username 1</a>
                  <a href="#">Username 2</a>
                  <a href="#">Username 3</a>
                </div>
              </div>

              <div class="dropdown">
                <button class="dropbtn">Select photo(s) for profile</button>
                <div class="dropdown-content">
                  <a href="#">Photo 1</a>
                  <a href="#">Photo 2</a>
                  <a href="#">Photo 3</a>
                  <a href="#">Photo 4</a>
                </div>
              </div>

              <a href="{{ url_for('index')}}">
                <button class="buttonHomepage">
                Back to home page
                </button>
              </a>


        </div>
    </div>


</body>
</html>