<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Photo</title>
    <link rel ="stylesheet" href ="{{ url_for('static', filename='viewclassphotos.css') }}" />
</head>
<body>
    <h1>-A custom collection of your class photos-</h1>
    
    <div class="grid-button-wrapper">

        <div class = "photo-grid">
            <div class="polaroid">
                <img src="static/photos/emptyPhoto.jpg" alt="photo placeholder" 
                style="width:100%">
                <div class="container">
                <p>cute! </p>
                </div>
            </div>
            <div class="polaroid">
                <img src="static/photos/emptyPhoto.jpg" alt="photo placeholder" 
                style="width:100%">
                <div class="container">
                <p>#goals!!! </p>
                </div>
            </div>
            <div class="polaroid">
                <img src="static/photos/emptyPhoto.jpg" alt="photo placeholder" 
                style="width:100%">
                <div class="container">
                <p>omg baddiee</p>
                </div>
            </div>
            <div class="polaroid">
                <img src="static/photos/emptyPhoto.jpg" alt="photo placeholder" 
                style="width:100%">
                <div class="container">
                <p>stunner! </p>
                </div>
            </div>
        </div>
        </div>
        <a href="{{ url_for('index')}}">
            <button class="buttonHomepage">
            Back to home page
            </button>
          </a>
    </div>


</body>
</html>